<div class="row mb-5 mt-5">
<%= form_with(model: meeting, local: true) do |form| %>
  <% if meeting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>

      <ul>
      <% meeting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :start_time, class: 'form-label' %>
    <%= form.datetime_select :start_time, class: 'form-control' %>
  </div>

  <div class="mb-5 mt-5">
    <%= form.label :end_time, class: 'form-label' %>
    <%= form.datetime_select :end_time, class: 'form-control' %>
  </div>
  <div class="mb-3">
    <% if meeting.persisted? %>
      <div class="float-right">
        <%= link_to 'Delete', meeting, method: :delete, class: "btn btn-danger mb-2", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if meeting.persisted? %>
      <%= link_to "Cancel", meeting, class: "btn btn-warning" %>
    <% else %>
      <%= link_to "Cancel", meetings_path, class: "btn btn-warning" %>
    <% end %>
  </div>
<% end %>
</div>
