<div class="page-header mt-5">
<dl class="dl-horizontal mb-5">
  <dt>Name:</dt>
  <dd><%= @meeting.name %></dd>
  <dt>Start time:</dt>
  <dd><%= @meeting.start_time %></dd>
  <dt>End time:</dt>
  <dd><%= @meeting.end_time %></dd>
   <%= link_to meetings_path, class: 'btn btn-success' do %>
    All Meetings
  <% end %>
  <%= link_to edit_meeting_path(@meeting), class: 'btn btn-primary' do %>
    Edit
  <% end %>
</dl>
</div>
